---
name: Bug report
about: Create a bug report to help us improve.
title: "bug: "
labels: unconfirmed
---

### Description of the bug
<!-- Please provide a clear and concise description of what the bug is. -->

### To Reproduce
<!-- Please provide a Minimal Reproducible Example (MRE) if possible.
     Try to boil down the problem to a few lines of code.
     Your code should run by simply copying and pasting it.

     Example:

     ```
     cargo install --git https://github.com/{{forge_namespace}}/{{forge_repo_name}}
     {{project_name}} # argument that generate issue
     ```
-->

```
WRITE MRE / INSTRUCTIONS HERE
```

### Full traceback
<!-- Please provide the full error message / traceback if any, by pasting it in the code block below.
     No screenshots!
     Set environment variable RUST_BACKTRACE to 1 or full
-->

<details><summary>Full traceback</summary>

```bash
PASTE TRACEBACK HERE
```

</details>

### Expected behavior
<!-- Please provide a clear and concise description of what you expected to happen. -->

### Environment information

- Os:
- Rust version:
- {{project_name}} version:

### Additional context
<!-- Add any other relevant context about the problem here,
     like links to other issues or pull requests, screenshots, etc.
-->
